* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
   
  }
.testimonial{
width: 100%;
height: auto;
padding: 124.16px, 116.91px, 85.84px, 100px;

dispaly: flex;
justify-content:space-between;
align-items:center;
margin-bottom:0%;
}
.col-3{
    flex: 1;
   
}

.row {
    margin-top: 8%;
    margin-left: 8%;
    width: 522.64px;
    height: 224px;
    padding: 1px 71px 35px 10px; 
    gap: 8px;
    background-color: #FAF9F9;
}

.row p {
    margin-top: 30px;
    margin-left: 60px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

.client-img{
    display:flex;
    flex-direction:row;
    margin-top:17%;
    margin-left:13%;
}

.client-img img {
    width: 64px;
height: 64px;
border-radius: 36px;

}

.client-img h1{
    margin-left:5%;
    font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 28px;
letter-spacing: 0em;
text-align: left;

}
.client-img p{
margin-left:-40%;
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.client-quote {
    margin-left:8%;
    margin-top:5%;
    width: 522.64px;
height: 124px;
padding: 0px, 71px, 35px, 71px;
gap: 8px;
background-color: #FAF9F9;
}
.client-quote p{
    width:90%;
    padding:20px 0px 10px 10px;
    margin-left:5%;
    margin-right:5%;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

}
.col-4{
    flex: 1;
}
.row1 {
    margin-top: -26%;
    margin-left:53%;
    width: 522.64px;
    height: 224px;
    padding: 1px 71px 35px 10px; 
    gap: 8px;
    background-color: #FAF9F9;
}

.row1 p {
    margin-top: 30px;
    margin-left: 60px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
}

    .client-img1{
        display:flex;
        flex-direction:row;
        margin-top:17%;
        margin-left:13%;
    }
    
    .client-img1 img {
        width: 64px;
    height: 64px;
    border-radius: 36px;
    
    }
    
    .client-img1 h1{
        margin-left:5%;
        font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .client-img1 p{
    margin-left:-40%;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    
    }
    .client-quote1 {
        margin-left:53%;
        margin-top:5%;
        width: 522.64px;
       height: 124px;
          padding: 0px, 71px, 35px, 71px;
     gap: 8px;
           background-color: #FAF9F9;
    text-align:left;
    
    }
    .client-quote1 p{
        width:90%;
        padding:20px 0px 10px 10px;
        margin-left:5%;
        margin-right:5%;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;

    }
    